### Imports

In [2]:
import pandas as pd
import numpy as np
import random
from string import ascii_uppercase

### Series creation

In [3]:
data = [num for num in range(10, 110, 10)]
print(data)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [4]:
data_serie = pd.Series(data)
print(data_serie)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [5]:
print(type(data_serie))

<class 'pandas.core.series.Series'>

In [6]:
int_array = [num for num in range(10, 60, 10)]
print(type(int_array))
indexes = ['A B C D E'.split(' ')]
data_series = pd.Series(int_array, indexes)
print(data_series)

<class 'list'>
A    10
B    20
C    30
D    40
E    50
dtype: int64

In [7]:
np_array = np.array(int_array)
print(np_array)
print(type(np_array))

[10 20 30 40 50]
<class 'numpy.ndarray'>

In [8]:
data_series = pd.Series(np_array)
print(data_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [9]:
print(f"Lines: {data_series.shape}")
print(f'Dimension: {data_series.ndim}')
print(f'Size: {data_series.size}')

Lines: (5,)
Dimension: 1
Size: 5

In [10]:
data_series.index = [random.choice(ascii_uppercase) for _ in range(5)]
print(data_series)

A    10
O    20
N    30
N    40
M    50
dtype: int64

In [11]:
values = np.random.random(10)
indexes = np.arange(0, 10)

print(f'Values: {values}')
print(f'Indexes: {indexes}')

data_series = pd.Series(values, indexes)

print(data_series)

Values: [0.48721234 0.98804716 0.89636113 0.63058278 0.26618392 0.05429332
 0.79708793 0.57079022 0.1775655  0.75752916]
Indexes: [0 1 2 3 4 5 6 7 8 9]
0    0.487212
1    0.988047
2    0.896361
3    0.630583
4    0.266184
5    0.054293
6    0.797088
7    0.570790
8    0.177566
9    0.757529
dtype: float64

In [12]:
dict_data = {random.choice(ascii_uppercase):random.randint(1, 10) for _ in range(5)}

print(dict_data)

data_series = pd.Series(dict_data)

print(data_series)

{'D': 7, 'I': 2, 'P': 6, 'Z': 1, 'K': 5}
D    7
I    2
P    6
Z    1
K    5
dtype: int64

### Slicing

In [13]:
data_serie = pd.Series(data=np.random.random(10))

print(data_serie)

0    0.514076
1    0.199535
2    0.419371
3    0.215757
4    0.193507
5    0.291959
6    0.983489
7    0.837883
8    0.534283
9    0.783606
dtype: float64

In [14]:
data_serie[:]

0    0.514076
1    0.199535
2    0.419371
3    0.215757
4    0.193507
5    0.291959
6    0.983489
7    0.837883
8    0.534283
9    0.783606
dtype: float64

In [21]:
data_serie[-1::]

9    0.783606
dtype: float64

### Copying, converting and concatenating

In [22]:
# Copy
data_serie2 = data_serie.copy()

In [23]:
data_serie2

0    0.514076
1    0.199535
2    0.419371
3    0.215757
4    0.193507
5    0.291959
6    0.983489
7    0.837883
8    0.534283
9    0.783606
dtype: float64

In [25]:
# Convert from float
data_serie2.dtype

dtype('float64')

In [27]:
# To int
data_serie3 = data_serie2.astype(int)
data_serie3

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

In [36]:
# Concat

# Two dicts
dic1 = {'João': 22, 'Alice': 34, 'Gustavo': 29, 'Pedro': 21}
dic2 = {'Gustavo': 17, 'Alana': 30}

# for to Series
data_serie4 = pd.Series(data=dic1)
data_serie5 = pd.Series(data=dic2)

In [38]:
# Concat two series
data_serie6 = pd.concat([data_serie4, data_serie5])
data_serie6

João       22
Alice      34
Gustavo    29
Pedro      21
Gustavo    17
Alana      30
dtype: int64