In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
print(pd.__version__)
print(np.__version__)

2.2.3
2.2.1

In [3]:
# Carregando os dados
dataset = pd.read_csv(f"{os.path.join(os.path.dirname(os.getcwd()), 'data', 'AirPassengers.csv')}")
dataset

       Month  #Passengers
0    1949-01          112
1    1949-02          118
2    1949-03          132
3    1949-04          129
4    1949-05          121
..       ...          ...
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

[144 rows x 2 columns]

In [18]:
# Criando uma série
serie = pd.Series(np.array(dataset["#Passengers"]), index = dataset["Month"])
serie

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
          ...
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
Length: 144, dtype: int64

In [19]:
# Tipo
print(type(serie))

<class 'pandas.core.series.Series'>

In [20]:
# Índices
print(serie.index)

Index(['1949-01', '1949-02', '1949-03', '1949-04', '1949-05', '1949-06',
       '1949-07', '1949-08', '1949-09', '1949-10',
       ...
       '1960-03', '1960-04', '1960-05', '1960-06', '1960-07', '1960-08',
       '1960-09', '1960-10', '1960-11', '1960-12'],
      dtype='object', name='Month', length=144)

In [22]:
# Tipo de dado
print(serie.dtype)

int64

In [24]:
# Número de dimensões
print(serie.ndim)

1

In [25]:
# Tamanho da série
print(serie.size)

144

In [26]:
# Listando os cinco primeiros elementos
print(serie.head())

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
dtype: int64

In [27]:
# Listando os cinco últimos elementos
print(serie.tail())

Month
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
dtype: int64

In [30]:
# Buscando valor da primeira coluna na primeira linha
print(serie.iloc[0])

112

In [31]:
# Buscando valor da primeira coluna nas 4 primeiras linhas
print(serie.iloc[0:4])

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
dtype: int64

In [32]:
# Buscando o último valor da primeira coluna na última linha
print(serie.iloc[-1])

432

In [34]:
# Pesquisando valores por índices
print(serie.loc["1960-08"])

606

In [35]:
# Pesquisando uma lista de valores por índices
print(serie.loc["1960-08":"1960-12"])

Month
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
dtype: int64

In [36]:
# Ordenando valores (ordem crescente)
print(serie.sort_values())

Month
1949-11    104
1949-01    112
1950-11    114
1950-01    115
1949-12    118
          ...
1960-06    535
1959-07    548
1959-08    559
1960-08    606
1960-07    622
Length: 144, dtype: int64

In [37]:
# Ordenando valores (ordem decrescente)
print(serie.sort_values(ascending=False))

Month
1960-07    622
1960-08    606
1959-08    559
1959-07    548
1960-06    535
          ...
1949-12    118
1950-01    115
1950-11    114
1949-01    112
1949-11    104
Length: 144, dtype: int64

In [40]:
# Ordenando índices (Ordem crescente)
print(serie.sort_index())

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
          ...
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
Length: 144, dtype: int64

In [41]:
# Ordenando índices (Ordem decrescente)
print(serie.sort_index(ascending=False))

Month
1960-12    432
1960-11    390
1960-10    461
1960-09    508
1960-08    606
          ...
1949-05    121
1949-04    129
1949-03    132
1949-02    118
1949-01    112
Length: 144, dtype: int64

In [43]:
# Contagem dos valores
print(serie.value_counts())

229    3
118    2
170    2
148    2
178    2
      ..
622    1
606    1
508    1
390    1
432    1
Name: count, Length: 118, dtype: int64

In [44]:
# Filtrando índices e valores a partir de determinadas condições
print(serie.loc[serie > 300])

Month
1954-07    302
1955-06    315
1955-07    364
1955-08    347
1955-09    312
          ...
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
Length: 62, dtype: int64

In [45]:
print(serie.loc[serie.index == "1954-07"])

Month
1954-07    302
dtype: int64

In [46]:
print(serie.loc[serie.index < "1950-08"])

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
1949-06    135
1949-07    148
1949-08    148
1949-09    136
1949-10    119
1949-11    104
1949-12    118
1950-01    115
1950-02    126
1950-03    141
1950-04    135
1950-05    125
1950-06    149
1950-07    170
dtype: int64

In [52]:
print(serie.loc[(serie.index > "1949-01") & (serie.index < "1950-01")])

Month
1949-02    118
1949-03    132
1949-04    129
1949-05    121
1949-06    135
1949-07    148
1949-08    148
1949-09    136
1949-10    119
1949-11    104
1949-12    118
dtype: int64

In [54]:
# Somatório
serie.sum()

np.int64(40363)

In [55]:
# Média
serie.mean()

np.float64(280.2986111111111)

In [56]:
# Menor valor
serie.min()

np.int64(104)

In [57]:
# Maior valor
serie.max()

np.int64(622)

In [58]:
# Filtro + Somatório
serie.loc[(serie.index >= "1949-01") & (serie.index < "1950-01")].sum()

np.int64(1520)

In [59]:
# Retornando valores sem duplicações
serie.index.unique()

Index(['1949-01', '1949-02', '1949-03', '1949-04', '1949-05', '1949-06',
       '1949-07', '1949-08', '1949-09', '1949-10',
       ...
       '1960-03', '1960-04', '1960-05', '1960-06', '1960-07', '1960-08',
       '1960-09', '1960-10', '1960-11', '1960-12'],
      dtype='object', name='Month', length=144)

In [60]:
# Somatório de valores nulos
serie.isna().sum()

np.int64(0)

In [61]:
serie

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
          ...
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
Length: 144, dtype: int64

In [67]:
# Como os índices são dadas, é possível extrair dia, mês e ano
print(f"Dias: {pd.DatetimeIndex(serie.index).day}")
print(f"Mêses: {pd.DatetimeIndex(serie.index).month}")
print(f"Anos: {pd.DatetimeIndex(serie.index).year}")

Dias: Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       ...
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype='int32', name='Month', length=144)
Mêses: Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10,
       ...
        3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
      dtype='int32', name='Month', length=144)
Anos: Index([1949, 1949, 1949, 1949, 1949, 1949, 1949, 1949, 1949, 1949,
       ...
       1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960],
      dtype='int32', name='Month', length=144)

In [70]:
# Pode-se realizar cálculos como o somatórios de todos os índices que fazem referência ao mês 7 (julho)
serie.loc[(pd.DatetimeIndex(serie.index).month == 7)].sum()

np.int64(4216)

In [71]:
# Pode-se realizar cálculos como o somatórios de todos os índices que fazem referência ao ano de 1950
serie.loc[(pd.DatetimeIndex(serie.index).year == 1950)].sum()

np.int64(1676)